@model DataApiService.Models.Machine

@{
    ViewData["Title"] = "Edit";
}


<div class="catalog">
    <div class="catalog__head">
        <form asp-action="Edit" method="post">
            <input class="column_filt" id="action_h" name="action_h" type="hidden" value="add">
            <div class="box catalog__head-row">
                <span style="margin-top: 30px;" class="catalog__label">Редактирование автомата</span>
                <div class="edite_add_block">
                    <div class="form-group" hidden="hidden">
                        <label asp-for="Machine_id" class="catalog__label"></label>
                        <input asp-for="Machine_id" class="catalog__input" />
                    </div>
                    <label asp-for="Machine_name" class="catalog__label">Наименование</label>
                    <input asp-for="Machine_name" placeholder="Введите название автомата" class="form-control" type="text" />
                    <label asp-for="Machine_address" class="catalog__label">Адрес</label>
                    <input asp-for="Machine_address" class="form-control" placeholder="Укажите адрес" type="text" />
                    <div class="pseudoselect catalog__select" style="position:relative;">
                        <label asp-for="Model_id" class="catalog__label" style="margin:10px 14px; ">Модель</label>
                        <select asp-for="Model_id" asp-items="ViewBag.machineModelsWithoutCurrent" class="form-control">
                            <option selected="selected">@Model.Machine_model</option>
                        </select>
                    </div>
                    <div class="pseudoselect catalog__select" style="position:relative;">
                        <label asp-for="Terminal_id" class="catalog__label" style="margin:10px 14px; ">ID Терминала</label>
                        <select asp-for="Terminal_id" asp-items="ViewBag.terminalIds" class="form-control">
                            <option selected="selected">@Model.Terminal_id</option>
                        </select>
                    </div>
                    <a asp-action="Index" asp-controller="Machines" class="btn catalog__btn gray">Отмена</a>
                    <button class="btn catalog__btn">Сохранить</button>
                </div>
            </div>
            <input name="__RequestVerificationToken" type="hidden" value="CfDJ8MVFrMu9mxtAphu1oD2iiaudqas79RvaivgKQBl9piVU9YM1ZJNgofFkceRrq4ri6qq7Hn5k_tLGqVw4v5OGmnUJJsZ9RFX_4gcONJlzCAIQFR4FI6QPCydUrTIEvbT2ojHaA6w61IWlWiLmJ4eySxgqVr-C8-B7qX0eQ8SF4aHjO8LWBU6iH8qGF9MsEff6rw">
        </form>
    </div>
</div>

@section Scripts {
}
