/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
    width: 100%;
    height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    width: 100%;
    height: 100%;
    padding: 1px 2px 1px 2px
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

[type=text],
[type=email],
[type=tel],
[type=password],
[type=url],
[type=date],
[type=search],
textarea {
    display: block;
    border: 1px solid #dfe2e8;
    background-color: #fff;
    font-size: 18px;
    line-height: normal;
    padding: 12px;
    color: #555;
    background-repeat: no-repeat;
    background-position: 12px 50%;
    background-size: 24px auto;
    min-width: 0;
    margin: 20px 9px 0;
    width: 340px;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

header {
    grid-area: head;
    background-color: #333333;
    color: #fff;
    padding: 30px 0;
}

nav.nav {
    grid-area: nav;
    background-color: #333333;
    color: #fff;
    box-shadow: 3px 0 6px rgba(0, 0, 0, 0.2)
}

main {
    grid-area: main;
    width: 100%;
    height: 100%;
    padding: 10px 2px 2px 10px
}

.wrapper {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: "head head" "nav  main";
    grid-template-rows: 100px auto;
    grid-template-columns: 1fr 4fr;
}

.nav-item {
    font-size: 18px;
    color: #333;
    font-weight: 400;
    text-align: left;
    margin-left: 10px;
    align-items: center;
}

    .nav-item a {
        align-items: center;
        display: flex;
        font-family: Roboto, sans-serif;
    }

        .nav-item a img {
            margin: 0 10px 0 0;
        }

    .nav-item img {
        width: 1.3em;
        height: 1.3em;
    }

.container {
    width: 100%;
    height: 100%;
    text-align: left;
    vertical-align: top;
    align-items: flex-start !important;
}

.navbar-nav {
    width: 100% !important;
}

.datepicker {
    padding-left: 45px;
    padding-right: 5px;
    background-image: url(../images/calendar.svg);
    position: relative;
}

div.flex {
    display: flex;
}

div.form_line {
    display: grid;
    grid-template-columns: 2fr 2fr auto;
    grid-template-rows: auto;
}


.form_label {
    color: #333;
    font-size: 18px;
    min-width: 100px;
    margin: 20px 9px 0;
}

.sort {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: bottom;
}

    .sort:after {
        content: "";
        display: block;
        width: 12px;
        height: 16px;
        margin: 10px auto 0;
        background: url(../images/sort/sort.svg) no-repeat center/contain;
    }

.sort-up:after {
    background-image: url(../images/sort/sort-up.svg);
}

.sort-down:after {
    background-image: url(../images/sort/sort-down.svg);
}

thead td, thead th {
    padding: 15px;
    background-color: #555;
    color: #fff;
    font-size: 12px;
}

tbody tr:nth-child(odd) {
    background-color: #fff;
}

tbody tr:nth-child(even) {
    background-color: #fafbfd;
}

tbody td, tbody th {
    border-bottom: 1px solid #e1e1e1;
}

tfoot {
    background-color: #e1e1e1;
}

    tfoot td, tfoot th {
        padding: 30px 15px;
    }


table img {
    display: block;
    width: 100%;
    max-width: 25px;
    margin: 0 auto 0.5em;
}

tfoot {
    background-color: #e1e1e1;
}

    tfoot td, tfoot th {
        padding: 30px 15px;
    }

.navbar-brand {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin: 0 140px 0 0;
    height: 40px;
}

.logo img {
    display: block;
    max-width: 100%;
    max-height: 130%;
    height: 130%;
    margin-left: 40px
}

.header-text {
    margin: 0 auto 0 0;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    vertical-align: super;
    display: inline;

}

#findField {
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-left: 45px;
    background-image: url(../images/magnify.svg);
    margin: 20px 9px 0;
    width: 340px;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}